* {
  padding: 0;
  margin: 0;
}

body {
  color: #926239;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
}
.main-header {
  display: flex; /*Определяет flex-контейнер, блочный или строчный зависит от переданного значения. Преобразовывает все свои прямые, дочерние элементы во flex-элементы.*/
  flex-direction: column; /*Устанавливает основную ось, таким образом определяет направление flex-элементов расположенных в flex-контейнере.*/
  justify-content: center; /*Определяет выравнивание вдоль основной оси (направление зависит от значения свойства flex-direction).*/
  align-items: center; /*Определяет выравнивание вдоль поперечной оси (направление зависит от значения свойства flex-direction).*/
  background-image: url(./img/beachshowcase.jpg);
  background-repeat: no-repeat; /*no-repeat — останавливает повторение фонового изображения во всех направлениях.*/
  background-size: cover; /*браузер сделает изображение достаточно большим, чтобы оно полностью заполнило блок, сохраняя при этом соотношение сторон. В этом случае часть изображения, скорее всего, окажется за пределами блока.*/
  background-position: center;
  height: 100vh;
}

.heading-header {
  font-size: 50px;
  line-height: 1.2;
}

.header-content {
  font-size: 20px;
}

.header-btn {
  font-size: 18px;
  border: 1px solid #926239;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: #926239;
}

.first-blocks {
  font-size: 17px;
  text-align: center;
}

.paragraph-1 {
  color: white;
  background: #926239;
  padding: 20px;
}

.paragraph-2 {
  padding: 20px;
}

.last-3-paragraph {
  display:flex;
  font-size: 17px;
}

.paragraph-3 {
  width: 100%;
  color: white;
  background: #926239;
  padding: 20px;
}

.paragraph-4 {
  padding: 20px;
}

.paragraph-5 {
  width: 100%;
  color: white;
  background: #926239;
  padding: 20px;
}