* {
  padding: 0;
  margin: 0;
}

body {
  color: #926239;
  font-family: sans-serif;
}
.main-header {
  display: flex; /*Определяет flex-контейнер, блочный или строчный зависит от переданного значения. Преобразовывает все свои прямые, дочерние элементы во flex-элементы.*/
  flex-direction: column; /*Устанавливает основную ось, таким образом определяет направление flex-элементов расположенных в flex-контейнере.*/
  justify-content: center; /*Определяет выравнивание вдоль основной оси (направление зависит от значения свойства flex-direction).*/
  align-items: center; /*Определяет выравнивание вдоль поперечной оси (направление зависит от значения свойства flex-direction).*/
  background-image: url(./img/beachshowcase.jpg);
  background-repeat: no-repeat; /*no-repeat — останавливает повторение фонового изображения во всех направлениях.*/
  background-size: cover; /*браузер сделает изображение достаточно большим, чтобы оно полностью заполнило блок, сохраняя при этом соотношение сторон. В этом случае часть изображения, скорее всего, окажется за пределами блока.*/
  background-position: center;
  height: 100vh;
}
